.DS_Store
thumbs.db
log/*.log
config/database.yml
tmp/**/*
db/*.sqlite3
db/development_structure.sql
doc/api
doc/app
doc/plugins
doc/controllers.png
doc/models.png
db/schema.rb
nbproject/
nbproject/*
public/uploads
public/uploads/**/*
*.tmproj
*.swp
coverage/*
files/**/*
*~
