@font-face {
  	src: local("Tahoma");
    fontFamily: "Tahoma";
    fontWeight: normal;
}

@font-face {
  	src: local("Tahoma");
    fontFamily: "Tahoma";
    fontWeight: bold; 
}
@font-face {
	src: local("Tahoma");
    fontFamily: "Tahoma";
    font-style: italic;
}

Application{
	font-family: Tahoma;	
	font-size: 12;
}
	        
TabNavigator { 
  	color:#000000;
   	themeColor: #34629d;
	padding-left:0;
	padding-right:0;
	padding-top:0;
	borderColor: #34629D;			   
}

Button {
	themeColor: #34629d;	
	border-style:outset;
	border-color:#34629d;
	corner-radius:5;
	color:#000000;
	padding-bottom:0;
	padding-left:0;
	padding-right:0;
	padding-top:0
}
Canvas{
	color: #000000;
	theme-color: #34629d;	
	padding-top:0;
	padding-bottom:0;
	padding-left:0;
	padding-right:0	
}
DataGrid{
	themeColor: #34629d;
}
Alert{
	background-color: #34629d;	
	border-color: #34629d;
}
HBox{
	theme-color: #34629d;	
}
TextInput{
	border-style:solid;
	corner-radius:5;
	border-color:#CCCCCC;
	selection-color:#34629d;
	color:#000000;
	font-size: 14;
}
MenuBar{
 	font-family: Tahoma;
    font-size: 14;
    font-weight:bold;	
	color:#FFFFFF;
	font-size:13;
	border-style:none;
}	 

List{
	button-width:100;
	corner-radius:10;
	background-color:#5a8ecf;
}


Form{
	horizontal-center:0;
	padding-top:0;
	padding-bottom:0;
	padding-left:0;
	padding-right:0;
	horizontal-center: 0;
}



.mdiWindowFocus{
        borderColor: #7B97E0;
        borderAlpha: 1;
        borderThicknessLeft: 2;
        borderThicknessTop: 0;
        borderThicknessBottom: 2;
        borderThicknessRight: 2;
        roundedBottomCorners: false;
        cornerRadius: 5;
        dropShadowEnabled: true;
        headerHeight: 29;
        backgroundAlpha: 1; 
        backgroundColor: #FFFFFF;
        titleStyleName: "mdiWindowTitleStyle";
        
        controlButtonWidth: 15;
        controlButtonHeight: 15;
        controlButtonGap: 4;
}

.mdiWindowHeaderStyle{
	background-color: #000000;
	background-alpha: 100;
	header-height: 30;
	border-alpha: 100;
	border-color: #000000;
	border-style: solid;
}
.mdiWindowTitleStyle{
    font-family: Tahoma;
    font-size: 14;
    font-weight:bold;
    color: #333333;
   	text-align:left;
}